.slide {
	background-color: #FFFFCC;
	border: 1px solid #999999;
	height: 120px;
	margin: 1em 0;
	overflow: hidden;
	position: relative;
	width: 350px;
}

.slide .inner {
bottom: 0;
color: #333333;
height: 100%;
left: 0;
right: 0;
padding: 0px;
position: absolute;
width: 100%;
}

#part1{
background-color: #1111EE;
visibility: visible;
}

#part2{
background-color: #11EE11;
visibility: hidden;
}


#part3{
background-color: #EE1111;
visibility: hidden;
}

#submit{
	height: 50px;
	margin: 1em 0;
	overflow: hidden;
	position: relative;
	width: 50px;
}

#back{
	height: 50px;
	margin: 1em 0;
	overflow: hidden;
	position: relative;
	width: 50px;

}
